<aside>
  <div class="rail-top">
    <div class="rail-name">{{ site.data.about.name }}</div>
    <div class="rail-handle">~ evm9</div>
  </div>

  <div class="rail-photo-wrap">
    <picture>
      {% if site.data.about.picture_wide %}
      <source media="(max-width: 820px)" srcset="{{ site.data.about.picture_wide | relative_url }}">
      {% endif %}
      <img class="primary" src="{{ site.data.about.picture | relative_url }}" alt="{{ site.data.about.name }}" decoding="async">
    </picture>
    <img class="hover" src="{{ site.data.about.picture_hover | relative_url }}" alt="" aria-hidden="true" loading="lazy" decoding="async">
  </div>

  <div class="rail-body">
    <div class="rail-id">
      {% if site.data.about.role %}
      <div><span class="k">role</span> <span class="v">{{ site.data.about.role }}</span></div>
      {% endif %}
      {% if site.data.about.field %}
      <div><span class="k">field</span> <span class="v">{{ site.data.about.field }}</span></div>
      {% endif %}
      {% if site.data.about.affiliation %}
      <div><span class="k">aff</span> <span class="v">{{ site.data.about.affiliation }}</span></div>
      {% endif %}
    </div>

    {% if site.data.about.emails %}
    <div class="rail-block">
      <div class="rail-block-title">Contact</div>
      <p>
        {% for email in site.data.about.emails %}
        {{ email | replace: '@', ' [at] ' }}{% unless forloop.last %}<br>{% endunless %}
        {% endfor %}
      </p>
    </div>
    {% endif %}

    <div class="rail-block">
      <div class="rail-block-title">Elsewhere</div>
      <p>
        {% if site.data.about.github_username %}
        <a href="https://github.com/{{ site.data.about.github_username }}">github</a><br>
        {% endif %}
        {% if site.data.about.google_scholar_id %}
        <a href="https://scholar.google.com/citations?user={{ site.data.about.google_scholar_id }}">google scholar</a><br>
        {% endif %}
        {% if site.data.about.linkedin_username %}
        <a href="https://www.linkedin.com/in/{{ site.data.about.linkedin_username }}">linkedin</a><br>
        {% endif %}
        {% if site.data.about.orcid_id %}
        <a href="https://orcid.org/{{ site.data.about.orcid_id }}">orcid</a><br>
        {% endif %}
        {% if site.data.about.blog_url %}
        <a href="{{ site.data.about.blog_url }}">blog</a>
        {% endif %}
      </p>
    </div>
  </div>
</aside>
